@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jonesy Script";
  src: url("/fonts/Jonesy Script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #2d2d2d;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
